div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 NightLIFE
    h1
      i.fa.fa-glass &nbsp;
      i.fa.fa-smile-o &nbsp;
      i.fa.fa-beer
      

.container
  .row
    .col-lg-8.col-lg-offset-2
      h3.page-header.text-center Search your city to find where other people are going out to!
      form.form-inline(ng-submit="searchBars(location)")
        .input-group.col-lg-12
          input.form-control(type="text",ng-model="location",placeholder="Where are you?")
          span.input-group-btn
            button.btn.btn-default(type="submit") Go!
      div.loading(ng-show="loading")
        h1.text-center
          i.fa.fa-spinner
      div.list-group.col-xs-12(ng-hide="loading")
        a.list-group-item(ng-repeat="bar in bars | orderBy:'-peopleGoing.length'")
          table
            tr
              td
                h4.list-group-item-header {{bar.name}}
                p.list-group-item-text.lead <strong>{{ bar.peopleGoing.length }} going</strong>
                p.list-group-item-text(ng-show="bar.rating") <strong>Rating:</strong> {{ bar.rating }}
                p.list-group-item-text(ng-hide="bar.rating") No ratings yet
                p.list-group-item-text <strong>Address:</strong> {{ bar.vicinity }}
              td(style="width: 10%")
                button.btn.btn-primary.btn-lg(ng-click="setGoing(bar, true)", ng-show="isLoggedIn() && bar.peopleGoing.indexOf(currentUser._id) === -1") I'm going!
                button.btn.btn-warning.btn-lg(ng-click="setGoing(bar, false)", ng-show="isLoggedIn() && bar.peopleGoing.indexOf(currentUser._id) > -1") I'm not going...
      
footer.footer
  .container
    p
      | Angular Fullstack v2.1.1
      = ' | '
      | anj
      = ' | '
      img(src='assets/images/google.png', alt='Powered by Google', height=15)
    p#attrib
